@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Iron';
  src: url('../fonts/ironsides.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato.ttf') format('truetype');
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/static/Jost-Regular.ttf') format('truetype');
}
body {
  font-family: 'Jost', sans-serif;
}

.font-iron {
  font-family: 'Iron', sans-serif;
}
.font-lato {
  font-family: 'Lato', sans-serif;
}
.text-primary {
  color: #883ae1;
}
.bg-primary {
  background-color: #883ae1;
}
